---
import Layout from '../../../../packages/shared/Layout.astro';
---

<Layout title="Katie Langerman's resume" siteType="main">
  <div class="cv">
    <section>
      <h2>Employment</h2>
      <aside class="employer">GitHub</aside>
      <section>
        <h2>Staff Systems Designer / 2022 – Present</h2>
        <h2>Senior Systems Designer / 2021 – 2022</h2>
        <h3>Highlights & ships</h3>
        <ul>
          <li>Leads cross-framework improvements to Primer, GitHub’s design system, with a focus on design token infrastructure</li>
          <li>Collaborates with engineers to develop robust component APIs, ensuring alignment between technical requirements and design intent.</li>
          <li>Advocates for accessibility and inclusive design, helping ensure that components meet industry standards.</li>
          <li>Supports adoption and governance through documentation, office hours, and cross-team collaboration.</li>
        </ul>
      </section>

      <aside class="employer">CarGurus</aside>
      <section>
        <h2>Principal UI/UX Engineer / 2021</h2>
        <h2>Senior UI/UX Engineer / 2019 – 2021</h2>
        <h2>UI Engineer / 2017 – 2019</h2>
        <h3>Highlights & ships</h3>
        <ul>
          <li>Leads cross-framework improvements to Primer, GitHub’s design system, with a focus on design token infrastructure</li>
        </ul>
      </section>

      <aside class="employer">StudentUniverse</aside>
      <section>
        <h2>Front-End Developer / 2015 – 2017</h2>
        <h3>Highlights</h3>
        <p>Designed and implemented key features for the StudentUniverse.com web app using HTML, CSS, and Angular.</p>
      </section>
    </section>

    <section>
      <h2>Community</h2>
    </section>

    <section>
      <h2>Education</h2>
    </section>
  </div>
</Layout>
