@import 'open-props/normalize';
@import 'open-props/colors';
@import 'open-props/colors-hsl.min.css';
@import 'open-props/animations';
@import 'open-props/easings';
@import 'open-props/shadows';

@property --header-height {
  syntax: '<length>';
  inherits: true;
  initial-value: 150px;
}

@property --headshot-width {
  syntax: '<length>';
  inherits: true;
  initial-value: 100px;
}

@property --title-opacity {
  syntax: '<integer>';
  inherits: true;
  initial-value: 1;
}

:root {
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-14: 0.75rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-48: 3rem;
  --size-64: 4rem;
  --control-borderRadius: 4px;
  --image-borderRadius: 6px;
  --card-gap: var(--size-16);
  --card-title-gap: var(--size-8);
  --card-title-weight: 600;
  --label-fontSize: var(--size-14);
  --label-borderRadius: 4px;
  --body-fontSize: 18px;
  --body-lineHeight: 1.5;
  --filter-fontSize: var(--size-16);
  --filter-lineHeight: 1;
  --header-height: 75px;
  --header-padding-block: 24px;
  --header-margin-block-end: var(--size-16);
  --body-gap: 42px;
  --body-font: system-ui, -apple-system, BlinkMacSystemFont, seravek, segoe ui, roboto, sans-serif;
  --body-padding: 1rem;
  --body-padding-block: 4rem;
  --title-fontSize: var(--body-fontSize);
  --title-fontWeight: 600;
  --header-animation-range: 0 150px;
  --header-animation: shrink-header linear both;
  --headshot-width: 100px;
  --intro-gap: var(--size-16);
  --intro-margin-block-start: var(--header-margin-block-end);
  --social-links-gap: var(--size-8);
  --social-links-margin-block: var(--size-32);
  --post-index-gap: var(--size-32);
  --main-gap: var(--size-32);
  --title-opacity: 1;
}

/* color */

:root {
  --bg: var(--stone-0);
  --bg-hsl: var(--stone-0-hsl);
  --overlay: var(--stone-0);
  --text: var(--stone-12);
  --link: var(--indigo-7);
  --link-visited: var(--violet-7);
  --muted-text: var(--stone-8);
  --date-color: var(--stone-8);
  --diy-card-bg: #fcfdfd;
  --diy-card-border: hsl(var(--stone-5-hsl) / 40%);
  --control-bgColor-hover: hsl(var(--stone-5-hsl) / 30%);
}

::selection {
  color: var(--stone-0);
  background-color: var(--indigo-8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--stone-11);
    --overlay: var(--stone-10);
    --text: var(--stone-1);
    --link: var(--indigo-3);
    --link-visited: var(--indigo-3);
    --date-color: var(--stone-6);
    --muted-text: var(--stone-6);
    --control-bgColor-hover: hsl(var(--stone-9-hsl) / 40%);
  }

  ::selection {
    background-color: var(--indigo-7);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  padding: 0;
  block-size: var(--size-32);
  background: transparent;
  padding-inline: var(--size-8);
  border-radius: 4px;
  /* border: solid 1px var(--stone-6); */
  border: 0;
  font-size: var(--filter-fontSize);
  line-height: var(--filter-lineHeight);
  position: relative;

  &:hover {
    background: var(--control-bgColor-hover);
  }

  button {
    display: flex;
    align-items: center;
    gap: var(--size-8);

    & svg {
      width: var(--size-16);
      fill: var(--muted-text);
    }
  }

  .select-control {
    display: flex;
    gap: var(--size-4);
  }

  .option-label {
    /* font-weight: 600; */
    color: var(--stone-8);
  }

  &::picker-icon {
    /* mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2Ij48cmVjdCB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgZmlsbD0ibm9uZSIvPjxwb2x5bGluZSBwb2ludHM9IjIwOCA5NiAxMjggMTc2IDQ4IDk2IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjE2Ii8+PC9zdmc+');
    content: '';
    background: deeppink;
    mask-size: contain;
    mask-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    transition: 0.4s rotate; */
    display: none;
  }

  &:open .picker-icon {
    rotate: 180deg;
  }

  option {
    block-size: var(--size-32);
    border-radius: var(--size-4);
    color: var(--text);

    &:hover {
      background: var(--control-bgColor-hover);

      /* add animation idea */
      /* &::after {
        content: '☑️';
      } */
    }

    &:checked {
      font-weight: 600;
    }

    &::checkmark {
      order: 1;
      margin-left: auto;
      content: '';
      mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2Ij48cmVjdCB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xMDQsMTQ3LjQzbDk4LjM0LTk3LjA5YTgsOCwwLDAsMSwxMS4zMiwwbDI0LDIzLjZhOCw4LDAsMCwxLDAsMTEuMzJsLTEyOC40LDEyOC40YTgsOCwwLDAsMS0xMS4zMiwwbC03MS42LTcyYTgsOCwwLDAsMSwwLTExLjMxbDI0LTI0YTgsOCwwLDAsMSwxMS4zMiwwWiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxNiIvPjwvc3ZnPg==');
      mask-size: contain;
      mask-repeat: no-repeat;
      height: 1rem;
      width: 1rem;
      background: var(--link);
    }
  }
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
}

/* the overlay */
::picker(select) {
  /* top: calc(anchor(bottom) + 1px); */
  /* left: anchor(10%); */
  /* top: anchor(center); */
  top: calc(anchor(bottom) + 8px);
  /* translate: 0 -50%; */
  background: var(--overlay);
  padding: 0.5rem;
  box-shadow: var(--shadow-4);
  border: 0;
  border-radius: 12px;
  /* scrollbar-gutter: stable; */
}

/* ::picker(select)::backdrop {
  background-color: hsl(var(--bg-hsl) / 80%);
  backdrop-filter: blur(2px);
} */

.breadcrumb {
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: var(--filter-fontSize);
  line-height: var(--filter-lineHeight);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-areas: 'page slash filter';
  gap: 0.25rem;

  &::after {
    /* content: '›'; */
    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2Ij48cmVjdCB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgZmlsbD0ibm9uZSIvPjxwb2x5bGluZSBwb2ludHM9Ijk2IDQ4IDE3NiAxMjggOTYgMjA4IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjE2Ii8+PC9zdmc+');
    mask-size: contain;
    mask-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    background: var(--muted-text);
    grid-area: slash;
  }

  & li:first-child {
    padding-inline-end: var(--size-8);
  }
}

html {
  background-color: var(--bg);
  transition: background-color 0.5s ease, color 0.5s ease;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--link);
  text-underline-offset: 2px;
  color: var(--link);

  &:visited {
    color: var(--link);
  }
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;
  padding-inline: var(--body-padding);
  padding-block-end: var(--body-padding-block);
  color: var(--text);
  font-size: var(--body-fontSize);
  line-height: var(--body-lineHeight);
  display: grid;
  grid-template-areas:
    'header'
    'body'
    'social';
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

main {
  grid-area: body;
  /* margin-inline: auto; */
  max-inline-size: var(--max-inline-size);
  display: grid;
  gap: var(--main-gap);
}

header {
  grid-area: header;
  display: grid;
  grid-template: 'title nav' auto / auto max-content;
  padding-block: var(--header-padding-block);
  /* margin-block-end: var(--header-margin-block-end); */
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 1;
  align-items: center;
  height: var(--header-height);
  /* backdrop-filter: saturate(180%) blur(20px);
  background: rgba(255, 255, 255, 0.92); */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px; */
}

.site-title {
  font-weight: var(--title-fontWeight);
  font-size: var(--title-fontSize);
  grid-area: title;
}

.site-nav {
  & a {
    text-decoration: none;
    color: var(--text);
    animation: var(--animation-fade-in);
    position: relative;

    &:hover {
      color: var(--link);
      text-decoration: underline;
      text-decoration-color: var(--link);
      text-underline-offset: 2px;
      animation: var(--animation-fade-in);
    }

    &[aria-current] {
      &:before {
        position: absolute;
        left: -8px;
        width: var(--size-8);
        height: var(--size-8);
        content: '';
        background: var(--link);
        border-radius: 1000px;
        margin: auto;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  &.desktop {
    display: none;
    visibility: hidden;
  }

  &.mobile {
    & ul {
      display: flex;
      gap: var(--social-links-gap);
      font-size: var(--body-fontSize);
    }
  }
}

.headshot {
  display: none;

  & img {
    border-radius: var(--image-borderRadius);
  }
}

.intro {
  display: grid;
  gap: var(--intro-gap);
  margin-block-start: var(--intro-margin-block-start);
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: var(--social-links-gap);
  flex-wrap: wrap;
  margin-block-start: var(--social-links-margin-block);
}

.mobile-social-links {
  grid-area: social;
  padding-block: var(--header-padding-block);
  margin-block-start: var(--header-margin-block-end);

  & .social-links {
    justify-content: center;
  }
}

.filter {
  background: var(--bg);
  position: sticky;
  top: calc(var(--header-height) - var(--header-padding-block));
  z-index: 2;
  padding-block: calc(var(--header-padding-block) / 2);
  display: flex;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px; */
  /* backdrop-filter: saturate(180%) blur(20px); */
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  & .card-title {
    display: flex;
    flex-direction: column;
    gap: var(--card-title-gap);

    & h3 {
      font-size: var(--body-fontSize);
      font-weight: var(--card-title-weight);
    }

    & time {
      color: var(--date-color);
    }

    & .separator {
      display: none;
    }
  }
}

.post-index {
  display: grid;
  gap: var(--post-index-gap);
}

.diy-site {
  background: linear-gradient(90deg, var(--bg) 15px, transparent 1%) 50%,
    linear-gradient(var(--bg) 15px, transparent 1%) 50%, hsl(var(--stone-5-hsl) / 80%);
  background-size: var(--size-16) var(--size-16);

  & .card {
    background: var(--diy-card-bg);
    border: solid 1px var(--diy-card-border);
    padding: calc(var(--post-index-gap) / 2);
    border-radius: 6px;
  }
}

@media (min-width: 768px) {
  :root {
    --body-fontSize: 22px;
    --header-height: 150px;
    --max-inline-size: 64ch;
    --max-inline-body-size: 1620px;
    --card-title-gap: var(--size-16);
    --post-index-gap: 4rem;
    --title-fontSize: 32px;
    --main-gap: 4rem;
    --intro-margin-block-start: 0;
  }

  body {
    grid-template-areas:
      'header header'
      'nav body';
    grid-template-columns: 100px auto;
    column-gap: var(--body-gap);
    max-inline-size: var(--max-inline-body-size);
    margin: 0 auto;
  }

  .mobile-social-links {
    display: none;
  }

  .headshot {
    display: block;
    grid-area: image;
    width: var(--headshot-width);
    animation: shrink-image linear both;
    animation-timeline: scroll();
    animation-range: var(--header-animation-range);
  }

  .site-title {
    animation: title-opacity linear both;
    animation-timeline: scroll();
    animation-range: var(--header-animation-range);
    animation-range: 5px 100px;
  }

  header {
    grid-template-areas: 'image title';
    grid-template-columns: subgrid;
    animation: var(--header-animation);
    animation-timeline: scroll();
    animation-range: var(--header-animation-range);
    height: var(--header-height);
    background: transparent;
  }

  .site-nav {
    grid-area: nav;
    position: sticky;
    top: var(--header-height);
    z-index: 2;
    align-self: start;
    animation: var(--header-animation);
    animation-timeline: scroll();
    animation-range: var(--header-animation-range);

    &.mobile {
      display: none;
      visibility: hidden;
    }

    &.desktop {
      display: block;
      visibility: visible;
    }

    & ul {
      display: flex;
      flex-direction: column;
      min-width: max-content;
      gap: var(--social-links-gap);
    }
  }

  .social-links {
    grid-area: social;
    flex-direction: column;
  }

  .card {
    & .card-title {
      flex-direction: row;

      & .separator {
        display: block;
      }
    }
  }

  .filter {
    top: 0;
    padding-block: var(--header-padding-block);
    height: 100px;
  }
}

@media (min-width: 1220px) {
  :root {
    --body-gap: 120px;
  }
}

@media (min-width: 1440px) {
  :root {
    --body-gap: 220px;
  }
}

@keyframes shrink-image {
  to {
    --headshot-width: 50px;
    min-width: unset;
  }
}

@keyframes shrink-header {
  to {
    --header-height: 100px;
  }
}

@keyframes title-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    /* translate: 0 calc(-1 * var(--header-height)); */
  }
}
