@import 'open-props/normalize';
@import 'open-props/colors';

@property --header-height {
  syntax: '<length-percentage>';
  inherits: true;
  initial-value: 150px;
}

:root {
  --bg: var(--red-0);
  --text: var(--stone-12);
  --link: var(--indigo-7);
  --link-visited: var(--violet-7);
  --card-border: var(--stone-5);
  --card-heading: var(--indigo-12);
  --body-fontSize: 18px;
  --header-height: 60px;
  --body-gap: 42px;
}

::selection {
  color: #ffffff;
  background-color: var(--indigo-8);
}

html {
  background-color: var(--bg);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, seravek, segoe ui, roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
  padding-block: 1rem 4rem;
  /* padding-top: 6rem; */

  color: var(--text);
  font-size: var(--body-fontSize);
  line-height: 1.5;
  display: grid;
  grid-template-areas:
    'header'
    'body'
    'social';
  grid-template-rows: repeat(auto-fit, minmax(0, auto));
  grid-template-columns: 1fr;
}

.site-title {
  font-weight: 600;
  font-size: var(--body-fontSize);

  &.desktop {
    display: none;
  }
}

.site-nav {
  &.desktop {
    display: none;
  }

  &.mobile {
    & ul {
      display: flex;
      gap: 8px;
      font-size: var(--body-fontSize);
    }

    & a {
      text-decoration: none;
    }
  }
}

.headshot {
  display: none;
}

header {
  grid-area: header;
  display: grid;
  grid-template: 'title nav' auto / auto max-content;
  padding-block: 24px;
  margin-block-end: 16px;
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 1;
  align-items: center;
}

.intro {
  display: grid;
  gap: 16px;
}

.mobile-social-links {
  grid-area: social;
  padding-block: 24px;
  margin-block-start: 16px;

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & .card-title {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & h3 {
      font-size: var(--body-fontSize);
      font-weight: 600;
    }

    & time {
      color: gray;
    }

    & .separator {
      display: none;
    }
  }
}

.post-index {
  display: grid;
  gap: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--link);
  text-underline-offset: 2px;
  color: var(--link);

  &:visited {
    color: var(--link);
  }
}

main {
  grid-area: body;
  /* max-inline-size: 64ch; */
  /* margin-inline: auto; */
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  :root {
    --body-fontSize: 22px;
    --header-height: 150px;
  }

  main {
    max-inline-size: 64ch;
  }

  .mobile-social-links {
    display: none;
  }

  body {
    grid-template-areas:
      'header header'
      'nav body';
    /* grid-template-rows: max-content max-content; */
    grid-template-columns: max-content auto;
    column-gap: var(--body-gap);
    max-inline-size: 1620px;
    margin: 0 auto;
  }

  .headshot {
    display: block;
    grid-area: image;
    width: 100px;
    animation: shrink-image linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }

  header {
    grid-area: header;
    display: grid;
    /* grid-template: 'title nav' auto / auto max-content; */
    grid-template-areas: 'image title';
    grid-template-columns: subgrid;
    /* column-gap: 84px; */
    animation: shrink-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
    height: var(--header-height);
  }

  .site-nav {
    grid-area: nav;
    position: sticky;
    top: var(--header-height);
    z-index: 2;
    align-self: start;
    animation: shrink-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;

    &.mobile {
      display: none;
    }

    &.desktop {
      display: block;
    }

    & ul {
      display: flex;
      flex-direction: column;
      min-width: max-content;
    }
  }

  .site-title {
    grid-area: title;
    /* max-inline-size: 64ch;
    margin-inline: auto; */

    &.mobile {
      display: none;
    }

    &.desktop {
      display: block;
    }
  }

  .social-links {
    grid-area: social;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    padding-block: 24px;
    margin-block-start: 16px;
  }
}

@media (min-width: 1220px) {
  :root {
    --body-gap: 120px;
  }
}

@media (min-width: 1440px) {
  :root {
    --body-gap: 220px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--pink-12);
    --text: var(--stone-1);
    --link: var(--pink-2);
    --link-visited: var(--violet-3);
    --card-border: var(--pink-8);
    --card-heading: var(--indigo-0);
  }

  ::selection {
    color: #ffffff;
    background-color: var(--pink-8);
  }
}

@keyframes shrink-image {
  to {
    width: 50px;
    min-width: unset;
  }
}

@keyframes shrink-header {
  to {
    --header-height: 100px;
  }
}
