---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/kfavicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Katie Langerman | Systems Designer</title>
  </head>
  <body>
    <main>
      <section class="intro">
        <h1>Hi, I'm Katie Langerman, a Systems Designer based in San Diego.</h1>
        <h2>
          Currently I work on <a href="https://primer.style/">design systems</a>
          at GitHub. I enjoy storytelling and making the occasional <a
            href="https://youtu.be/3SCtFzhEyEQ">fun video</a
          > at work. I also co-host an interface design podcast called <a
            href="
          https:
          creators.spotify.com
          pod
          show
          complementary
          episodes
          44-How-to-be-a-more-strategic-designer-with-Jared-Spool-e2q6unq"
            >Complementary.</a
          >
        </h2>
        <h3>
          Shoot me an email at <a href="mailto:langermank@gmail.com"
            >langermank@gmail.com</a
          >
        </h3>
      </section>
      <section class="links">
        <div class="card">
          <span class="title"><h2>Talks</h2></span>
          <ul>
            <li>
              <a
                href="
          https:
          www.youtube.com
          watch?v='SjOieV8seec&t=7s"
                '
                >Invisible infrastructure: How we shipped new color tokens
                without breaking GitHub</a
              >
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=LN6dGGBfDYs&t=5s"
                >Async/Await: Close collaboration across non-overlapping time
                zones</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/watch?v=AtYyOGmOZkc&feature=youtu.be"
                >Boston CSS: justify-yourself: space-between</a
              >
            </li>
          </ul>
        </div>
        <div class="card">
          <span class="title"><h2>Articles & podcasts</h2></span>
          <ul>
            <li>
              <a
                href="https://spaces.is/loversmagazine/interviews/katie-langerman"
                >Lovers Magazine interview</a
              >
            </li>
            <li>
              <a href="https://open.spotify.com/episode/2veWA4E4ceg7DSrw3g6MS2"
                >Code With Jason podcast</a
              >
            </li>
          </ul>
        </div>
        <div class="card">
          <span class="title"><h2>Find me elsewhere</h2></span>
          <ul>
            <li>
              <a href="https://bsky.app/profile/katielangerman.bsky.social"
                >Bluesky</a
              >
            </li>
            <li>
              <a href="https://x.com/KatieLangerman"
                >Twitter or whatever it's called</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/langermank/">LinkedIn</a>
            </li>
            <li>
              <a href="https://github.com/langermank">GitHub</a>
            </li>
            <li><a href="https://glass.photo/langermank">Glass</a></li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
